*/*/Objs

MODULE00/ex00/megaphone
MODULE00/ex01/phonebook
MODULE00/ex02/recover

MODULE01/ex00/brainz
MODULE01/ex01/moar_brainz
MODULE01/ex02/refptr
MODULE01/ex03/weapons
MODULE01/ex04/replace
MODULE01/ex05/harl
MODULE01/ex06/harlFilter

MODULE02/ex00/fixed
MODULE02/ex01/fixed_better
MODULE02/ex02/fixed_math
MODULE02/ex03/fixed_bsp

MODULE03/ex00/claptrap
MODULE03/ex01/scavtrap
MODULE03/ex02/fragtrap
MODULE03/ex03/diamondtrap

MODULE04/ex00/barf
MODULE04/ex01/brain
MODULE04/ex02/abstract
MODULE04/ex03/interface

MODULE05/ex00/bureaucrat
